<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myaws.myapp.persistance.BoardMapper">
	<sql id="search">
		<if test="search != null and search.equals('writer')">
			and writer like concat('%',#{keyword},'%')
		</if>
		<if test="search != null and search.equals('subject')">
			and subject like concat('%',#{keyword},'%')
		</if>
	</sql>
	<select id="boardSelectAll" parameterType="HashMap" resultType="bv">
		SELECT * FROM board WHERE delYN = 'N'
		<include refid="search" />ORDER BY orginbidx DESC, depth ASC LIMIT #{startPageNum}, #{perPageNum}
	</select>

	<select id="boardTotalCount" parameterType="scri" resultType="int">
		SELECT COUNT(*) AS cnt FROM board WHERE delyn='N'
		<include refid="search" />
	</select>

	<insert id="boardInsert" parameterType="bv">
		<selectKey keyProperty="bidx" resultType="int" order="AFTER">
			SELECT MAX(bidx) as bidx FROM board
		</selectKey>
		INSERT INTO board(originbidx, depth, level_, subject, contents, writer, password, midx, filename, ip) VALUES (null, 0, 0, #{subject}, #{contents}, #{writer}, #{password}, #{midx}, #{uploadedFilename}, #{ip})
	</insert>
	
	<update id="boardOriginbidxUpdate" parameterType="int"> 
		UPDATE board SET originbidx = #{bidx} WHERE bidx = #{bidx} 
	</update>
	
	<select id="boardSelectOne" parameterType="int" resultType="bv">
		SELECT * FROM board WHERE delyn = 'N' AND bidx = #{bidx} </select>
	
	<update id="boardViewCntUpdate" parameterType="int"> UPDATE board SET
		viewcnt = viewcnt + 1 WHERE bidx = #{bidx} 
	</update>
	
	<update id="boardRecomUpdate" parameterType="bv">
		<selectKey keyProperty="recom" resultType="int" order="AFTER"> 
			SELECT recom FROM board WHERE bidx = #{bidx} 
		</selectKey>
		UPDATE board SET recom = recom + 1 WHERE bidx = #{bidx}
	</update>
	
	<update id="boardDelete" parameterType="HashMap"> UPDATE board SET delyn = 'Y', modifyday=NOW() WHERE bidx = #{bidx} AND midx = #{midx} AND password = #{password} </update>
		
	<update id="boardUpdate" parameterType="bv"> UPDATE board SET subject = #{subject}, contents= #{contents}, writer = #{writer}, modifyday = NOW(), filename = #{uploadedFilename} WHERE bidx = #{bidx} AND PASSWORD = #{password} AND midx = #{midx} </update>
	
	<update id="boardReplyUpdate" parameterType="bv"> UPDATE board SET depth = depth + 1 WHERE originbidx = #{originbidx} AND depth > #{depth} </update>

	<insert id="boardReplyInsert" parameterType="bv">
		<selectKey keyProperty="bidx" resultType="int" order="AFTER">SELECT MAX(bidx) as bidx FROM board</selectKey>
		INSERT INTO board (originbidx, depth, level_, subject, contents, writer, midx, filename, password, ip) VALUES(#{originbidx}, #{depth} + 1, #{level_} + 1, #{subject}, #{contents}, #{writer}, #{midx}, #{uploadedFilename}, #{password}, #{ip})
	</insert>
</mapper>