<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myaws.myapp.persistance.MemberMapper">
	<sql id="search">
		<if test="search != null and search.equals('writer')">
			and writer like concat('%',#{keyword},'%')
		</if>
		<if test="search != null and search.equals('subject')">
			and subject like concat('%',#{keyword},'%')
		</if>
	</sql>
	<select id="boardSelectAll" parameterType="HashMap" resultType="bv">
		SELECT * FROM board WHERE delYN = 'N'
		<include refid="search" />
		ORDER BY orginbidx DESC, depth ASC LIMIT #{startPageNum},
		#{perPageNum}
	</select>

	<select id="boardTotalCount" parameterType="scri" resultType="int">
		SELECT COUNT(*) AS cnt FROM board WHERE delyn='N'
		<include refid="search" />
	</select>
</mapper>