<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration> 
<typeAliases>
<typeAlias alias="mv" type="com.myproject.myapp.domain.MemberVo"/>
<typeAlias alias="bv" type="com.myproject.myapp.domain.BoardVo"/>
<typeAlias alias="cv" type="com.myproject.myapp.domain.CommentVo"/>
<typeAlias alias="scri" type="com.myproject.myapp.domain.SearchCriteria"/>
</typeAliases>
</configuration>