<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myaws.myapp.persistance.AppointmentMapper">
<select id="appointmentSelectAll" resultType="av">
SELECT * FROM appointment ORDER BY aidx DESC
</select>

<insert id="appointmentInsert" parameterType="av">
insert into appointment (appointmentSubject, doctorInCharge, appointmentDate, appointmentTime, patientName, pidx, didx, patientPhone, patientId) 
values (#{appointmentSubject}, #{doctorInCharge}, #{appointmentDate}, #{appointmentTime}, #{patientName}, #{pidx}, #{didx}, #{patientPhone}, #{patientId})
</insert>
</mapper>